//define top search bar
.main-search-form-control {
    width: 100% !important;
}

.nav-bar-control {
    background-color: #000088;
    color: whitesmoke;
    padding-top: 10px;
}

.index-top-image {
    background: url(http://placehold.it/1350x150) no-repeat center #eee;
    height: 400px;
}

.nav-bar-cart {
    transform: translateY(30%);
}
